.left-shading .overflow-hidden::before {
    content: ' ';
    background-color: transparent;
    box-shadow: inset 125px 0px 40px -100px rgb(0 0 0 / 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
}

.right-shading .overflow-hidden::after {
    content: ' ';
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: inset -125px 0px 40px -100px rgb(0 0 0 / 100%);
}

.shading {
    position: relative;
}
